head {
    color:#05b6f7;
    font-family:TI-Nspire;
} 

body {
    background-color: #ff0a8e;
    border: 49px #0aff7c;
    padding: 36px;
    font-family: 'TI-Nspire Sans';
    color: #0AFF7C;
    margin:auto;
}
p#fullname {
    color: #b00a4c;
    font-family: 'Cambria Math';
}

div {
    color: #b00a4c;
    
{
    font-style: normal;
}

}
p {
    color:blue;
}
body {
    color:black;
}

#fullname {
    background-color: #b6f705;
}
body {
    div * {
    background-color: #05B6F7;
}

body {
    color: #63ff0a;
    font-family: TINspireKeys;
    border: 9px #f7f707;
    padding: 36px;
}

body {
    color: #63ff0a;
    font-family: 'Times New Roman', Times, serif;
    border: 9px #f7f707;
    padding: 36px;
}

body {
    background-color: #ff0a8e;
    border: 49px #0aff7c;
    padding: 36px;
}
marquee {

}
h1 {
    color:black;
}
p {
    color: indigo;
    font-family: cursive;
}   